<%- include('partials/header.ejs') %> <%- include('partials/navbar.ejs') %>

<!-- kalau gambar ada, maka render tag img beserta gambarnya -->
<% if(data.img) { %>
<img src="<%= data.img %>" alt="<%= data.title %>" />
<% } %>

<!-- main content -->
<h1>Tag: <%= data.title %></h1>
<h3><%= data.description %></h3>
<p>Followers: <%= data.followers %></p>

<hr />

<!-- merender postingan untuk setiap tag -->
<% for (let post of data.posts) { %>
<article>
  <p><%= post.title %> - <%= post.author %></p>
</article>

<% } %> <%- include('partials/footer.ejs') %>
